@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: 'NFL-Dolphins';
  src:
    url('./assets/NFLDOLPH.woff') format('woff'),
    url('./assets/NFLDOLPH.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

$accent-color: #3689fc;
$dark-blue: #374951;
$blue: #56727e;
$light-blue: #9ab0ba;
$ship-color: rgb(75, 75, 75);
$board-size: 300px;
$board-size-small: 260px;
$cell-size: calc($board-size / 10);
$cell-size-small: calc($board-size-small / 10);

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  @extend %flex-column;
  background: radial-gradient($blue, 80%, $dark-blue);
  color: #fff;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.dialog {
  align-items: center;
  background-color: transparent;
  border: 0;

  &[open] {
    @extend %flex-column;
    animation: fadeIn 3s ease normal;
  }

  &::backdrop {
    background-color: transparentize(black, 0.2);
  }

  &__heading {
    color: red;
    font-family: 'NFL-Dolphins';
    font-size: 2rem;

    &--win {
      color: greenyellow;
    }
  }
}

.restart-button {
  background-color: transparent;
  border: 0;
  color: #fff;
}

.header {
  background-color: $dark-blue;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  padding: 16px 20px;

  &__heading {
    font-family: 'NFL-Dolphins';
    font-size: 2.6rem;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
  }
}

main {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-top: auto;
}

.gameboard-container {
  @extend %flex-column;

  &__title {
    font-size: 1.3rem;
    margin: 0 4px 12px;

    &--p2 {
      text-align: right;
    }
  }

  &--hidden {
    display: none;
  }
}

.gameboard {
  background-color: $dark-blue;
  border: 1px solid $dark-blue;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 2px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10, 1fr);
  height: $board-size;
  width: $board-size;

  &--p2:hover {
    cursor: pointer;
  }

  &__cell {
    background-color: $light-blue;

    &--ship {
      background-color: $ship-color;
    }

    &--hit {
      background-color: #de3434;
      outline: 1px solid #ff5c5e;
      z-index: 2;
    }

    &--miss {
      background-color: #fff;
    }
  }
}

.ship-placement {
  width: $board-size;

  &__title {
    font-size: 1.3rem;
    margin: 0 0 12px;
  }

  &--hidden {
    display: none;
  }
}

.button-container {
  display: flex;
  gap: 16px;
}

.button {
  background-color: $dark-blue;
  border: 1px solid black;
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  transition: 0.2s transform ease-in-out;

  &:hover {
    background-color: darken($dark-blue, 7%);
    cursor: pointer;
  }

  &:active {
    background-color: darken($dark-blue, 14%);
    transform: scale(0.96);
  }
}

.ship-container {
  display: flex;
  gap: 12px;
  margin-top: 16px;

  &--horizontal {
    flex-direction: column;
  }
}

.ship {
  background-color: $ship-color;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: $cell-size;

  &__cell {
    height: $cell-size;
    width: 100%;

    &:hover {
      cursor: grab;
    }
  }

  &--horizontal {
    flex-direction: row;
    height: $cell-size;
    width: min-content;
  }
}

.ship--horizontal > .ship__cell {
  height: 100%;
  width: $cell-size;
}

.footer {
  margin: auto 16px 0 0;
  text-align: right;

  &__icon-link {
    color: #fff;
    font-size: 2rem;
    user-select: none;

    &:hover {
      color: $light-blue;
      cursor: pointer;
    }
  }

  &__copyright {
    margin-top: 8px;
  }
}

@media (max-width: 700px) {
  main {
    align-items: center;
    flex-direction: column;
    margin: 32px 0;
  }

  .ship-placement {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .header {
    &__heading {
      font-size: 2rem;
    }
  }

  .gameboard-container {
    &__title {
      font-size: 1.1rem;
    }
  }

  .gameboard {
    height: $board-size-small;
    width: $board-size-small;
  }

  .ship-placement {
    display: flex;
    flex-direction: column;
    width: 240px;

    &__title {
      font-size: 1.1rem;
    }

    &--hidden {
      display: none;
    }
  }

  .button-container {
    justify-content: center;
    gap: 8px;
  }

  .button {
    padding: 4px 8px;
  }

  .ship-container {
    align-self: center;
  }

  .ship {
    width: $cell-size-small;

    &__cell {
      height: $cell-size-small;
    }

    &--horizontal {
      height: $cell-size-small;
      width: min-content;
    }
  }

  .ship--horizontal > .ship__cell {
    width: $cell-size-small;
  }
}
